.questions button {
	background-color: #5bc0de;
}

.options {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.options button {
	margin-left: 10px;
}

@media screen and (max-width: 768px) {
	.questions button {
		min-width: 40vw;
		/* max-width: 30vw; */
		margin: 5px auto;
	}
	.options {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
